<!DOCTYPE html>
<html ng-app="even3-pratical-test" lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript">var registration = @Html.Raw(Json.Encode(@ViewBag.Registration));</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" src="~/bundles/css?v=WW2Zqu4rTmvC2w8fLdK2R8aobhpR0_-6Y0_tTR9xWnE1">
    <script type="text/javascript" src="~/bundles/ui?v=WW2Zqu4rTmvC2w8fLdK2R8aobhpR0_-6Y0_tTR9xWnE1"></script>
    <script type="text/javascript" src="~/bundles/views?v=WW2Zqu4rTmvC2w8fLdK2R8aobhpR0_-6Y0_tTR9xWnE1"></script>
</head>
<body ng-controller="mainController">
    <h1>{{ name }}</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#!">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!collaboratorQuery">Lista de Colaboradores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!collaboratorConfection">Cadastro de Colaboradores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!shiftQuery">Lista de Horarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!shiftConfection">Cadastro de Horarios</a>
        </li>
    </ul>
    <div class="container">
        <div class="main-container" ng-view></div>
    </div>
</body>
</html>