<form>
    <div class="form-group">
        <label for="inputName">Nome</label>
        <input type="text" class="form-control" id="inputName" placeholder="Insira o nome" ng-model="name">
    </div>
    <div class="form-group">
        <label for="inputEmail">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Insira o e-mail" ng-model="email">
    </div>
    <div class="form-group">
        <label for="inputRegistration">Matrícula</label>
        <input type="text" class="form-control" id="inputRegistration" placeholder="Insira a matrícula" ng-model="registration">
    </div>
    <button type="button" class="btn btn-primary" ng-click="save()">Salvar</button>
</form>