<table class="table">
    <thead>
        <tr>
            <th>Dia da Semana</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Intervalo</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="m in source">
            <td>{{ m.dayOfWeek | dayOfWeek }}</td>
            <td>{{ m.input }}</td>
            <td>{{ m.output }}</td>
            <td>{{ m.interval }}</td>
            <td><button type="button" class="btn btn-primary" ng-click="edit(m.id)">Editar</button></td>
            <td><button type="button" class="btn btn-primary" ng-click="remove(m.id)">Excluir</button></td>
        </tr>
    </tbody>
</table>